@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


.content-section{
  padding: 50px 0;
  }

.content-section h3{
  font-size: 2em;
  margin: 15px auto;
}

.navbar{
  background-color: #2F1D51 !important;  
}

.nav-item{
  margin: auto 9px auto 9px;
}

.nav-link{
  color: #ddd !important;
}

.nav-link:hover, .active{
  color: #F25F23 !important;
}
 
.navbar-brand{
  color: #ddd !important;
}

.home-bg{
  background-image: url(images/cypht_bg_3.png) !important;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  padding-top: 20vh;
}

.home-bg h1{
  color: #ddd
}

.home-bg .btn-hover {
  width: 150px;
  font-size: 1.4em;
  font-weight: 300;
  color: #eee;
  cursor: pointer;
  margin: 20px 20px auto 0;
  height: 45px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.home-bg .btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.home-bg .btn-hover:focus {
  outline: none;
}

.home-bg .btn-hover.color-2 {
  background-image: linear-gradient(to right, #F68D1E, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.6);
}

.home-bg img{
  -webkit-box-shadow: 0px 0px 12px 3px rgba(242,242,242,1);
-moz-box-shadow: 0px 0px 12px 3px rgba(242,242,242,1);
box-shadow: 0px 0px 12px 3px rgba(242,242,242,1);
}

.container-fluid{
  padding: 40px 40px;
}

.box-part{
  background:#fff;
  border-radius:0;
  margin: 50px auto;
  padding:25px 15px;
  -webkit-box-shadow: -5px 3px 17px -2px rgba(54,54,54,0.27);
-moz-box-shadow: -5px 3px 17px -2px rgba(54,54,54,0.27);
box-shadow: -5px 3px 17px -2px rgba(54,54,54,0.27);
-webkit-border-radius: 5px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius: 5px;
-moz-border-radius-topleft: 10px;
border-radius: 5px;
border-top-left-radius: 10px;
}
.text{
  margin:20px 0px;
}
.title{
  margin: 20px
}
.fa{
   color:#4183D7;
}

.modular-design{
  color: #000;
  padding: 50px
}

.modular-design img {-webkit-box-shadow: 0px 0px 12px 0px rgba(133,131,133,1);
  -moz-box-shadow: 0px 0px 12px 0px rgba(133,131,133,1);
  box-shadow: 0px 0px 12px 0px rgba(133,131,133,1);
}

 
.three-col{
  background-color: #eee;
}

.features{
 background-color: #eee;
}
.features li{
  color: #222;
}

.questions{
  background-image: linear-gradient(to right,  #F68D1E , #e43603);
  color: #fff;
}

.questions a{
  color: #2F1D51;
}

.footer{
  background-color: #2F1D51;
 }

.footer p{
  color: #ddd;
}

footer a{
  color: #F15A24
}

/*---Media Queries --*/
@media (max-width: 995px) {
  #cypht-image{
    display: none;
  }
}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  .home-bg{
    height: 100vh;
    padding-top: 10vh;
  }
}









