@import url('https://fonts.googleapis.com/css?family=Catamaran|Oswald|Raleway');


header{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar-brand{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
}

.fixed-top.scrolled {
  background-color: #222 !important;
  transition: background-color 200ms linear;
}

.nav-item{
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background: #81B441;
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.navbar-light .navbar-nav .nav-item .nav-link{
  color: #eee;
  padding: 5px 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
}

.banner{
  position: relative;
  background: url(img/cypht\ bg.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;

}

.banner h2{
  margin: 0;
  padding: 0;
  font-size: 3.2em;
  font-weight: 1000;
  background: -webkit-linear-gradient(#eee, #777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.banner p{
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #bbb
}

 
.navbar-light .navbar-toggler{
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}

navbar-collapse{
  background: #fff;
}

.example_d {
  color: #81B441 !important;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  border: 2px solid #81B441 !important;
  border-radius: 3px;
  display: inline-block;
  }

  .example_d:hover {
    color: #eee !important;
    border-radius: 50px;
    border-color: #eee !important;
    transition: all 0.3s ease 0s;
    }

@media(max-width:768px){
  .banner{
    padding: 200px 0;
  }

  .banner h2{
    font-size: 1.8em;
  }

}

body {
	font-family: 'Lato', sans-serif;
}

body p, li{
	color: #777;
	font-size: 20px;
	font-weight: 300;
}

body h2 {
  color: #333;
    font-size: 32px;
    font-weight: 700;
}
section{
  margin:auto auto auto auto;
  padding-top: 30px;
  padding-bottom: 30px
}

section h2{
  font-size: 32px;
    font-weight: 700;
}

section p{
  font-size: 20px;
  font-weight: 300;
}

/* Intro section */

#as-services{
   background-image: linear-gradient(to top,  #E7F6D1 , #fff);
}
#as-services .as-services-head{
	margin:0 auto 50px auto;
	 
}
#as-services .as-services-head h2{
	color: #81B441;
}
#as-services .as-services-head p{
	color: #2F4858;
 
}
 
/*featuire section start*/
.feature-section {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(4, 26, 0, 0.85), 
      rgba(4, 26, 0, 0.85)
    ),
    /* bottom, image */
    url(img/cloud-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-section h2{
  color: #eee;
  font-size: 32px;
  font-weight: 700;
}

.feature-section li{
  color: #bbb;
	font-size: 20px;
  font-weight: 300;
  margin: 15px auto 18px auto;  
}

.feature-section a {
  color: #81B441;
  margin-bottom: 30px;
}

/*Security section*/
.security-section{
  background-image: linear-gradient(to bottom, #E7F6D1 , #fff);
}

.security-section h2{
  color: #81B441;
}

.security-section p,h3{
  color: #2F4858
}

/*Mods section*/
.module-section{
  background: 
  /* top, transparent red, faked with gradient */ 
  linear-gradient(
    rgba(4, 26, 0, 0.85), 
    rgba(4, 26, 0, 0.85)
  ),
  /* bottom, image */
  url(img/mail-bg.png);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.module-section h2{
  color: #eee;
  font-size: 32px;
  font-weight: 700;
}

.module-section p{
  color: #bbb;
	font-size: 20px;
  font-weight: 300;
}

.module-section button{
  color: #262626
}
 
/* Footer section */
.footer-section{
  background : #E7F6D1

}

.footer-section h2{
  color: #81B441;
  font-size: 32px;
  font-weight: 700;
}

.footer-section p,h3{
  color: #2F4858;
	font-size: 20px;
  font-weight: 300;
}


/*social section*/
.social-section{
  background: #041A00;
}

.social-section a{
  color: #81B441;
}

.social-section p{
  color: #bbb;
	font-size: 20px;
  font-weight: 300;
}

.content-section{
  background: #eee;
  position: relative;
  min-height: 100vh;;
  padding: 100px 50px 100px 50px;
 }

 .content-section li{
   margin: 10px auto 10px;
 }

 .content-section p{
   border-left: 5px solid #aaa;
   padding-left: 20px;

 }



