@import url('https://fonts.googleapis.com/css?family=Catamaran|Oswald|Raleway');

header{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar{
  padding: 20px 0;
}

.navbar-brand{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
}

.nav-item{
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background: #81B441;
  color: #333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.navbar-light .navbar-nav .nav-item .nav-link{
  color: #eee;
  padding: 5px 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1em;
}

.banner{
  position: relative;
  background: url(img/cypht\ bg.png);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;

}

.banner h2{
  margin: 0;
  padding: 0;
  font-size: 3.2em;
  font-weight: 1000;
  background: -webkit-linear-gradient(#eee, #777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.banner p{
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #bbb
}

 
.navbar-light .navbar-toggler{
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}

navbar-collapse{
  background: #fff;
}

.example_d {
  color: #81B441 !important;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  border: 2px solid #81B441 !important;
  border-radius: 3px;
  display: inline-block;
  }

  .example_d:hover {
    color: #eee !important;
    border-radius: 50px;
    border-color: #eee !important;
    transition: all 0.3s ease 0s;
    }

@media(max-width:768px){
  .banner{
    padding: 200px 0;
  }

  .banner h2{
    font-size: 1.8em;
  }

}
 

/* Intro section */
body{
	font-family: 'Lato', sans-serif;
}
#as-services{
  margin:auto auto 40px auto;
  padding-top: 40px;
  background-image: linear-gradient(to top, #E0E0E0 , #fff);
}
#as-services .as-services-head{
	margin:0 auto 50px auto;
	 
}
#as-services .as-services-head h2{
	color: #333;
    font-size: 32px;
    font-weight: 700;
}
#as-services .as-services-head p{
	color: #777;
	font-size: 20px;
	font-weight: 300;
}
 
 