.event-hero {
      padding: 2rem 1rem;
      position: relative;
      height: 80dvh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.event-hero:before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      pointer-events: none;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'> <path d='M32 0H0v32' fill='none' stroke='rgba(0,0,0,0.08)' stroke-width='1'/> </svg>");
      background-size: 32px 32px;
      background-repeat: repeat;
}