.ft-hero {
      padding: 4rem 1rem;
      position: relative;
      height: 90dv;

}

.ft-hero:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'><defs><pattern id='grid' width='60' height='60' patternUnits='userSpaceOnUse'><path d='M 60 0 L 0 0 0 60' fill='none' stroke='rgba(0,0,0,0.08)' stroke-width='1'/></pattern></defs><rect width='100%' height='100%' fill='url(%23grid)'/></svg>");
      z-index: 1;
      pointer-events: none;
}

.ft-hero-content {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: var(--container-5xl);
      margin: 0 auto;
}

.hero-section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;
}

.hero-section-content h1 {
      max-width: 22rem;
}

.ft-hero .home-hs-subtitle {
      max-width: 22rem;
}

.hero-section-right {
      display: none;
}

/*I. Feature Content */

.features-content {
      padding: 1.2rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 8rem;
}

.ft-section {
      display: flex;
      flex-direction: column;
      max-width: var(--container-5xl);
      margin: 0 auto;
      gap: 2rem;
}

.ft-section-left-header,
.ft-section-center-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: .9rem;
      width: 100%;

      & h3 {
            font-size: 1.2rem;
            font-weight: 600;
            width: 85%;
      }
}


.feature-card,
.mss-div,
.security-card {
      background-color: #FCFCFC;
      border: 1px solid #E6E6E6;
      border-radius: 12px;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start
}

.ft-card-img-content {
      /* background-color: red; */
      height: 15rem;
      width: 100%;
      position: relative !important;

      & img {
            /* position: absolute;
            top: 0;
            left: 0;
            right: 0; */
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
      }
}

.mss-div-header {

      display: flex;
      align-items: center;
      gap: .5rem;
      font-weight: 600;
      font-size: .9rem;
      transition: all 0.35s ease;
      line-height: 1.3;
      margin-bottom: .7rem;

      & svg {
            width: 22px !important;
            height: 22px !important;
      }
}

.ft-description {
      font-size: .87rem;
      color: var(--color-text);
      margin-top: .2rem;
      font-weight: 400;
      line-height: 1.3;

      & a {
            color: var(--color-primary);
            font-weight: 500;
            transition: all 0.2s ease;
      }
}

/* II. Messaging Section ──────────────────────────────────────────────────────────── */
.mss-parent,
.perf-parent,
.search-parent,
.dev-parent,
.security-parent {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      width: 100%;
}

/* III. Key Features Section ──────────────────────────────────────────────────────────── */
.key-feature-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 5rem;
      max-width: var(--container-5xl);
      margin: 0 auto;
}

/* 1. Header */
.key-feature-header {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
}

.ft-section-center-header {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      text-align: left;
}

.key-feature-header h3 {
      max-width: 40rem;
}

.key-feat-navtabs {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      gap: .7rem;
}

.key-feat-navtabs li {
      list-style: none;
      cursor: pointer;
}

.key-feat-navtabs li button {
      border: 1px solid var(--color-border);
      border-radius: 8px;
      padding: .4rem .75rem;
      background-color: transparent;
      color: var(--color-text);
      font-size: 0.8rem;
      font-weight: 500;
      transition: all 0.3s ease;
      cursor: pointer;
      opacity: 0.7;
      min-height: initial !important;

      &:hover {
            color: var(--color-text) !important;
            opacity: 1;
      }

      &.active {
            color: var(--color-text) !important;
            opacity: 1;
            border-color: #1a202c61;
            font-weight: 600;
      }
}

/* 2. Body */
.key-feature-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
}

.key-tab-description ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.9rem;
      padding: 0;
      /* justify-content: center; */
}

.key-tab-description ul li {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      font-weight: 500;
      color: var(--color-text);
      opacity: 0.7;
      transition: all 0.3s ease;
      cursor: pointer;
}

.key-tab-description ul li:before {
      content: "";
      display: inline-block;
      width: 1.25em;
      height: 1.25em;
      margin-right: 0.5rem;
      vertical-align: middle;
      background-color: var(--color-primary);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='black' d='M4.565 12.407a.75.75 0 1 0-1.13.986zM7.143 16.5l-.565.493a.75.75 0 0 0 1.13 0zm8.422-8.507a.75.75 0 1 0-1.13-.986zm-5.059 3.514a.75.75 0 0 0 1.13.986zm-.834 3.236a.75.75 0 1 0-1.13-.986zm-6.237-1.35l3.143 3.6l1.13-.986l-3.143-3.6zm4.273 3.6l1.964-2.25l-1.13-.986l-1.964 2.25zm3.928-4.5l1.965-2.25l-1.13-.986l-1.965 2.25zm1.965-2.25l1.964-2.25l-1.13-.986l-1.964 2.25z'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m20 7.563l-4.286 4.5M11 16l.429.563l2.143-2.25'/%3E%3C/g%3E%3C/svg%3E");
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill='black' d='M4.565 12.407a.75.75 0 1 0-1.13.986zM7.143 16.5l-.565.493a.75.75 0 0 0 1.13 0zm8.422-8.507a.75.75 0 1 0-1.13-.986zm-5.059 3.514a.75.75 0 0 0 1.13.986zm-.834 3.236a.75.75 0 1 0-1.13-.986zm-6.237-1.35l3.143 3.6l1.13-.986l-3.143-3.6zm4.273 3.6l1.964-2.25l-1.13-.986l-1.964 2.25zm3.928-4.5l1.965-2.25l-1.13-.986l-1.965 2.25zm1.965-2.25l1.964-2.25l-1.13-.986l-1.964 2.25z'/%3E%3Cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m20 7.563l-4.286 4.5M11 16l.429.563l2.143-2.25'/%3E%3C/g%3E%3C/svg%3E");
      -webkit-mask-size: contain;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
}


.key-tab-demo {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--color-border);
      border-radius: 14px;
      height: 30rem;
      background-color: #FCFCFC;
      padding: .6rem .5rem;
      gap: .6rem;
      margin-top: 2.5rem;
}

.key-tab-demo-header {
      display: flex;
      flex-direction: row;
      gap: .4rem;
      align-items: center;
}

.demo-circle {
      width: .55rem;
      height: .55rem;
      border-radius: 50%;
      background-color: #DFDFDF;
      position: relative;
}


.key-tab-demo-body {
      border: 1px solid var(--color-border);
      border-radius: 10px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
}

.key-tab-demo-body img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
}



/* Responsive */
@media (min-width: 570px) {

      .ft-section-left-header h3,
      .ft-section-center-header h3 {
            max-width: 24rem;
      }

      .key-feat-navtabs {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
      }

      .ft-section-left-header {
            flex-direction: column;
            align-items: start;
            justify-content: start;
            text-align: left;
      }

      .ft-section-center-header {
            align-items: center;
            justify-content: center;
            text-align: center;
      }

      .key-tab-description ul {
            justify-content: center;
      }
}

@media (min-width: 768px) {

      .ft-hero .home-hs-subtitle {
            max-width: 25rem;
      }

      /*  */
      .features-content {
            padding: 1.2rem 2.5rem;
      }

      /*  */
      .ft-card-img-content {
            height: 13rem;
      }

      .mss-parent,
      .perf-parent {
            grid-template-columns: repeat(2, 1fr);
      }

      /* en media: */

      .search-parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 8px;
      }

      .search-div1 {
            grid-row: span 2;
      }

      .search-div2 {
            grid-column: 1;
            grid-row: 3 / span 2;
      }

      .search-div3 {
            grid-column: 1;
            grid-row: 5 / span 2;
      }

      .search-div4 {
            grid-column: 2;
            grid-row: 1 / span 3;
      }

      .search-div5 {
            grid-column: 2;
            grid-row: 4 / span 3;
      }

      /* IV. Development Section ──────────────────────────────────────────────────────────── */
      .dev-parent,
      .security-parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 8px;
      }

      .dev-div1,
      .sec-card-1 {
            grid-column: span 2 / span 2;
            flex-direction: row;
      }

      .dev-div2,
      .sec-card-2 {
            grid-row-start: 2;
      }

      .dev-div3,
      .sec-card-3 {
            grid-row-start: 2;
      }


      /* V. Security Section ──────────────────────────────────────────────────────────── */
      .key-tab-demo {
            height: 35rem;
      }

      .key-tab-description {
            padding: 0 5rem;
      }

}

@media (min-width: 992px) {

      .ft-section-left-header h3 {
            max-width: 30rem;
            font-size: 1.5rem;
      }

      .ft-section-center-header h3 {
            max-width: 35rem;
            font-size: 1.5rem;
      }


      .ft-hero-content {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }

      .hero-section-content {
            justify-content: center;
            align-items: start;
            text-align: left;
      }

      .hero-section-right {
            display: flex;
            justify-content: center;
            align-items: center;

      }

      /* I. Messaging Section ──────────────────────────────────────────────────────────── */
      .mss-parent {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
      }

      .mss-div {
            min-height: 12rem;
      }

      .mss-div1 {
            grid-column: span 3 / span 3;
      }

      .mss-div2 {
            grid-column: span 3 / span 3;
            grid-column-start: 4;
      }

      .mss-div3 {
            grid-column: span 2 / span 2;
            grid-row-start: 2;
      }

      .mss-div4 {
            grid-column: span 2 / span 2;
            grid-column-start: 3;
            grid-row-start: 2;
      }

      .mss-div5 {
            grid-column: span 2 / span 2;
            grid-column-start: 5;
            grid-row-start: 2;
      }

      .mss-div6 {
            grid-column: span 3 / span 3;
            grid-row-start: 3;
      }

      .mss-div7 {
            grid-column: span 3 / span 3;
            grid-column-start: 4;
            grid-row-start: 3;
      }

      /* II. Performance Cards ──────────────────────────────────────────────────────────── */

      .perf-parent {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
      }

      .perf-div1 {
            grid-column: span 2 / span 2;
      }

      .perf-div2 {
            grid-column: span 3 / span 3;
            grid-column-start: 3;
      }

      .perf-div3 {
            grid-column: span 3 / span 3;
            grid-row-start: 2;
      }

      .perf-div2,
      .perf-div3 {
            & .ft-card-img-content {
                  height: 100%;
            }
      }

      .perf-div4 {
            grid-column: span 2 / span 2;
            grid-column-start: 4;
            grid-row-start: 2;
      }

      .feature-card {
            flex-direction: column;
            justify-content: space-between;
            min-height: 25rem;
      }

      .feat-card-header {
            display: flex;
            flex-direction: column;
            gap: .7rem;
      }

      .feat-card-long {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1rem;
      }


      /* III. Search Section ──────────────────────────────────────────────────────────── */

      .search-parent {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8px;

            & .feature-card {
                  min-height: 12rem;
            }
      }

      /* RESET  */
      .search-div1,
      .search-div2,
      .search-div3,
      .search-div4,
      .search-div5 {
            grid-row: auto;
            grid-column: auto;
      }

      .search-div1 {
            grid-column: span 2;
      }

      .search-div2 {
            grid-column: 3 / span 2;
      }

      .search-div3 {
            grid-column: 5 / span 2;
      }

      .search-div4 {
            grid-column: 1 / span 3;
            grid-row: 2;
      }

      .search-div5 {
            grid-column: 4 / span 3;
            grid-row: 2;
      }


      .search-card-long {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
      }

      /* IV. Development Section ──────────────────────────────────────────────────────────── */
      .dev-parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
      }

      .dev-parent .feature-card {
            min-height: 15rem;
      }

      /* RESET  */
      .dev-div1,
      .dev-div2,
      .dev-div3,
      .sec-card-1,
      .sec-card-2,
      .sec-card-3 {
            grid-row: auto;
            grid-column: auto;
      }

      .dev-div1,
      .sec-card-1 {
            grid-row: span 2 / span 2;
            flex-direction: column;
      }

      .dev-div3 {
            grid-column-start: 2;
            grid-row-start: 2;
      }

      .key-tab-demo {
            height: 38rem;
      }

      .key-tab-description {
            padding: 0;
      }

      /* V. Security Section ──────────────────────────────────────────────────────────── */
      .security-parent {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;
      }

      .security-card {
            height: 25rem;
      }
}

/* Dark Theme */

[data-theme="dark"] {

      .mss-div,
      .feature-card,
      .security-card {
            background: var(--clr-card-bg);
            border: 1px solid var(--color-border);
      }

      /*  */
      .key-feat-navtabs li button {

            &:hover {
                  color: var(--color-text) !important;
                  opacity: 1;
            }

            &.active {
                  background-color: var(--clr-dark-card-second);
                  opacity: 1;
                  border-color: var(--color-border);
            }
      }

      /*  */
      .demo-circle {
            background-color: var(--clr-dark-card-second);
            border: 1px solid var(--color-border);
      }

      .key-tab-demo,
      .key-tab-demo-body {
            background-color: var(--clr-card-bg);
      }

}